# API Gateway URL - defaults to local development
VITE_API_GATEWAY_URL=http://localhost:8000/v1
VITE_MOCK_COURIER=true   # set to enable mock courier API response
VITE_MOCK_RWA=false      # set to true to bypass API calls with simulated data
