services:
  db:
    image: pgvector/pgvector:pg15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: aura_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d aura_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  core-service:
    build:
      context: .
      dockerfile: core-service/Dockerfile
    restart: on-failure
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/aura_db
      MISTRAL_API_KEY: ${MISTRAL_API_KEY}
      OTEL_SERVICE_NAME: "aura-core"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://jaeger:4317"
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "50051:50051"

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    restart: on-failure
    environment:
      CORE_SERVICE_HOST: core-service:50051
      OTEL_SERVICE_NAME: "aura-gateway"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://jaeger:4317"
      CORS_ORIGINS: "http://localhost:3000,http://127.0.0.1:3000"
    ports:
      - "8000:8000"
    depends_on:
      - core-service

  jaeger:
    image: jaegertracing/all-in-one:latest
    restart: always
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686" # UI
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP HTTP receiver

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: on-failure
    environment:
      NEXT_PUBLIC_API_GATEWAY_URL: http://api-gateway:8000/v1
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway

volumes:
  postgres_data:
